*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


.gridContainer{
    display: grid;
    background-color: white;
    grid-template-areas: "nav"
    "header"
    "article"
    "aside"
    "footer";
    
    
}


nav{
    grid-area: nav; 
    background-color:blue;
    height:10vh;
    
}
ul{
    list-style-type:none;
    position:fixed;
    display: inline-block;
    height:inherit;
    background-color: black;
    width:100vw;

}
li:last-child{
float:right;
border-right:none;
border-left:1px solid #bbb;
}

li{
float:left;
background-color: green;
height:inherit;
width:10vw;
border-right: 1px solid #bbb;
}
.dropdown{
    display: inline-block;
    position: relative;

}
.dropdown-content{
    z-index: 1;
    display:none;
    position: absolute;
    background-color: #bbb;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width:160px;

}
.dropbtn {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
    display: block;
  }



header{
    grid-area: header;
    height:10vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
article{
    grid-area: article;
    background-color: darkgreen;
    height:60vh;
}
aside{
    grid-area: aside;
    background-color:aqua;
    height:10vh;
}
footer{
    grid-area: footer;
    background-color:blue ;
    height:10vh;
}
.flexContainer{
    display: flex;
    background-color: darkgrey;
    flex-direction: row;
    justify-content: space-around;
    
}
.one{
width: 400px;
height:400px;
background-color: pink;
margin-top:50px;
}
