*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}


.gridContainer{
    display: grid;
    background-color: white;
    grid-template-areas: "nav"
    "header"
    "article"
    "aside"
    "footer";
    
    
}


nav{
    grid-area: nav; 
    background-color:rgb(43, 148, 235);
    height:10vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    
}
ul{
    list-style-type:none;
    position:fixed;
    display: inline-block;
    height:inherit;
    background-color: rgb(43, 148, 235);
    width:100vw;
    color:white;

}
li:last-child{
float:right;
border-right:none;
border-left:1px solid #bbb;

}
li:first-child{
    width:auto;
}
li a{
    color:white;
    position: absolute;
    top:30%;
}

li{
float:left;
background-color: rgb(43, 148, 235);
height:inherit;
width:10vw;
border-right: 1px solid #bbb;
font-size:2em;
color:white;
justify-content: center;
display: flex;
align-items: center;


}

/*Dropdown knappen i navbar  */
.dropdown{
    display: inline-block;
    position: relative;
    margin-left: 0px;
    color:white;
}
.dropdown-content{
    z-index: 1;
    display:none;
    background-color: #d4d4d4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top:61px;    

}
.dropbtn {
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-size: 1em;
  width:70px;
  color:white;
  left:25%;
  top:30%;
  position: relative;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:0.5em;
    position: relative;
}  
.dropdown-content a:hover {background-color: #acacac}
  
    
  
/*  */
/* Dark mode */
.dark-mode{
background-color:black;
color:white;
}






/*  */




header{
    grid-area: header;
    height:10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
article{
    grid-area: article;
    /* background-color: darkgreen; */
    height:60vh;
}
aside{
    grid-area: aside;
    /* background-color:aqua; */
    height:10vh;
}
footer{
    grid-area: footer;
    /* background-color:blue ; */
    height:10vh;

}
.flexContainer{
    display: flex;
    /* background-color: darkgrey; */
    flex-direction: row;
    justify-content: space-around;
    
}
.study{
width: 400px;
height:400px;
/* background-color: pink; */
margin-top:50px;
}
