*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100vw;
}

.gridContainer{
    display: grid;
    background-color: white;
    grid-template-areas: 
    "nav"
    "header"
    "article"
    "footer";
    
    
}


nav{
    grid-area: nav; 
    background-color:rgb(43, 148, 235);
    height:100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    
}
ul{
    list-style-type:none;
    position:fixed;
    display: inline-block;
    height:inherit;
    background-color: rgb(43, 148, 235);
    width:100vw;
    color:white;

}



li:first-child{
    width:auto;
}
li a{
    color:white;
    position: absolute;
    top:30%;
    width: auto;
}

li{
float:left;
background-color: rgb(43, 148, 235);
height:inherit;
width:150px;
border-right: 1px solid #bbb;
font-size:2em;
color:white;
justify-content: center;
display: flex;
align-items: center;


}

/*Dropdown knappen i navbar  */
.dropdown{
    display: inline-block;
    position: relative;
    margin-left: 0px;
    color:white;
}
.dropdown-content{
    z-index: 1;
    display:none;
    background-color: #d4d4d4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top:61px;    

}
.dropbtn {
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-size: 1em;
  color:white;
  left:27px;
  top:30px;
  position: relative;
}
.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 63px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:0.5em;
    position: relative;
}  
.dropdown-content a:hover {background-color: #acacac}
/*  */

header{
    grid-area: header;
    height:100px;
    display:flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    
}
article{
    grid-area: article;
    height: 700px; width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
article iframe {
    width: 1066px; height: 600px;;
    margin-left:30px; margin-right:30px;
}
article p{
    margin-right:30px; 

}








footer{
    grid-area: footer;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons{
    margin-left:10px;
    
}

@media only screen and (max-width: 1401px) {
    article p{
        display:none;
    }
    article iframe{
        margin:0;
    }
  }